/*
 * My custom css styles
 */
.product-name {
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 10px;
}

.desc {
    margin-top: 10px;
}

#app button {
    margin: 10px 0;
}

#order {
    margin-top: 50px;
    margin-bottom: 50px;
    background: url("/images/bg.jpg") no-repeat;
    padding: 15px 0;
    position: relative;
}

#order .form-order {
    margin: 30px 0;
    background: #fff;
    padding: 30px;
}
.nav-pills .nav-link.active {
    background-color: #ff590b!important;
}

.get-order {
    position: fixed;
    top: 0;
    right: 10px;
}

h2.title {
    padding: 14px 0;
}

.tariff-name {
    text-align: center;
    font-size: 28pt;
    margin-bottom: 30px;
}

.price {
    font-size: 20pt;
    color: #ff590b;
    font-weight: bold;
    margin: 37px 0;
}

.errors, .success {
    background: red;
    color: #fff;
    padding: 10px;
}

.success {
    background: green;
}
