<template>
    <div class="container" v-if="tariffId > 0">
        <div class="row">
            <div class="col-sm-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a v-for="(tariff, key) in results"
                       v-on:click="setTariff(tariff.id)"
                       :class="['nav-link', {'active show': key === 0}]" :id="'v-pills-'+key+'-tab'" data-toggle="pill"
                       :href="'#v-pills-set-'+key" role="tab" :aria-controls="'v-pills-set-'+key" aria-selected="true">
                        {{tariff.name}}
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div v-for="(result, key) in results" :class="['tab-pane fade row ', {'active show': key === 0}]"
                        :id="'v-pills-set-'+key" role="tabpanel" :aria-labelledby="'v-pills-set-'+key+'-tab'">
                        <div v-for="(product, key) in result.products" class="col-md-6 float-left rounded">
                            <div class="product-name border-bottom">{{product.name}}</div>
                            <img :src="'/images/' + product.image" :alt="product.id" class="img-fluid">
                            <p class="border-top desc">{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" :value="tariffId" class="btn btn-success float-right get-order" v-scroll-to="'#order'">Перейти к заказу</button>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                results: [],
                tariffId: 0
            }
        },
        mounted() {
            this.update()
        },
        methods: {
            update: function () {
                axios.post('/get-tariffs').then((response) => {
                    this.results = response.data
                    this.setTariff(this.results[0].id)
                })
            },
            setTariff: function (id) {
                this.tariffId = id
                this.$root.$refs.order.update(id)
            },
        }
    };
</script>
