<template>
    <div id="order" v-if="tariffId > 0">
        <div class="container">
            <div class="row">
                <h1 class="text-white text-center col-md-12">Оформление заказа id:{{tariffId}}</h1>
                <div class="col-md-8 mx-auto border form-order">
                    <div class="tariff-name">{{ result.name }}</div>
                    <div v-if="errors.length" class="errors">
                        <p><b>Произошла ошибка:</b></p>
                        <p v-for="error in errors">{{ error }}</p>
                    </div>
                    <div v-if="success" class="success">
                        <p><b>Заказ успешно оформлен</b></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>Выберите дату доставки:</div>
                            <date-picker v-model="date" value-type="format" :disabled-date="disableDays"></date-picker>
                            <div>Введите ваше имя:</div>
                            <input type="text" class="input-group-text text-left bg-white" v-model="name"/>
                        </div>
                        <div class="col-md-6">
                            <div class="price">Цена: {{result.price}} руб.</div>
                        </div>
                    </div>
                    <div>Введите номер телефона</div>
                    <VuePhoneNumberInput v-model="phone" @update="phoneStatus = $event"/>
                    <button class="btn btn-success mx-auto" v-on:click="createOrder">Заказать</button>
                    <p>
                        Юридически компания называется ООО «ГФ Трейд» и принадлежит кипрскому офшору «Винда лимитед».

                        Основные акционеры — предприниматели Даниэль Гальпер и Павел Паскарь и венчурный фонд AddVenture. Генеральный директор — Павел Паскарь.

                        По состоянию на 2017 год компания доставляла еду для спортсменов из двух линеек питания без возможности выбора блюд.

                        В 2018 году оборот, по данным компании, составил 1.1 млрд рублей.

                        По состоянию на 2019 год являлся крупнейшим российским сервисом по доставке продуктовых наборов, доставляя около 120 тысяч доставок в месяц, средняя строимость которых — 1200—1400 рублей.
                    </p>
                    <p>
                        Компания Grow Food была основана Санкт-Петербурге в 2015 году Даниэлем Гальпером и Павлом Паскарем.

                        В ноябре 2015 года бизнесмен Александр Бородич инвестировал в Grow Food 4 млн рублей.

                        В июне 2016 году венчурный фонд AddVenture инвестировал в Grow Food 30 млн рублей, в 2017 году — ещё 5 млн долларов.

                        В 2019 году компания Grow Food построила завод в Колпино, Санкт-Петербург, потратив на это 200 млн рублей. Площадь завода составляет 2,2 тыс. кв. м, число сотрудников — 270 человек. В месяц предприятие выпускает 1-1,2 млн порций еды.

                        В конце 2019 года компания начала работу в Мурманске, Краснодаре, Екатеринбурге, Казани и Новосибирске.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css'
    import VuePhoneNumberInput from 'vue-phone-number-input'
    import 'vue-phone-number-input/dist/vue-phone-number-input.css'

    export default {
        components: {
            DatePicker,
            VuePhoneNumberInput
        },
        data: function () {
            return {
                result: [],
                errors: [],
                success: false,
                tariffId: 0,
                name: null,
                date: null,
                phone: null,
                phoneStatus: null
            }
        },
        created() {
            this.$root.$refs.order = this;
        },
        methods: {
            update: function (tariffId) {
                axios.post('/get-tariffs', {tariff_id: tariffId}).then((response) => {
                    this.result = response.data
                    this.tariffId = this.result.id
                    this.errors = [];
                    this.success = false;
                })
            },
            disableDays: function (date) {
                const days = this.result.delivery.split(",").map(Number)
                const day = new Date(date).getDay()
                return $.inArray(day, days) !== -1 || date < new Date()
            },
            checkFields: function () {
                this.errors = [];

                if (!this.name) {
                    this.errors.push("Введите ваше имя")
                }
                if (!this.phoneStatus.isValid ) {
                    this.errors.push("Введите корректный номер телефона")
                }
                if (!this.date) {
                    this.errors.push("Выберите дату доставки")
                }
            },
            createOrder: function () {
                this.checkFields()
                if (this.errors.length === 0) {
                    axios.post('/create-order', {
                        name: this.name,
                        phone: this.phoneStatus.formattedNumber,
                        tariff_id: this.tariffId,
                        delivery: this.date
                    }).then((response) => {
                        if (response.data) {
                            this.success = response.data;
                        }
                    })
                }
            }
        }
    };
</script>
